* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--body-color);
    color: var(--text-color);
}

/* still test */
:root {
    --main-color: #ffb43a;
    /* Orange */
    --hover-color: hsl(37, 94%, 57%);
    /* Dark Gray */
    --body-color: #1e1e2a;
    /* White */
    --container-color: #2d2e37;
    /* Light Gray */
    --text-color: #fcfeff;
    /* Black */
    --box-shadow: 2px 2px 18px rgba(14, 61, 54, 0.15);
    /* Soft Shadow */
}



ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    /* height: auto; */
}

button {
    border: none;
    cursor: pointer;
    background: none;
    font: inherit;
}

.container {
    max-width: 80%;
    width: 100%;
    margin: auto;
}

section {
    padding: 3rem 0 2rem;
}

html::-webkit-scrollbar {
    width: 0.4rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}