.catalogContainer {
  min-height: 93vh;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  background: var(--container-color);
  border: 1px solid hsl(200 100% 99% / 5%);
  margin-top: 5em;
}

.headingTitle {
  font-size: 1.8rem;
  font-weight: 500;
}

.moviesContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.button {
  padding: 8px 16px;
  background-color: #ddd;
  color: #333;
  border: 1px solid hsl(200 100% 99% / 5%);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: var(--container-color);
  color: #fff;
}

.selectedButton {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: 1px solid hsl(200 100% 99% / 5%);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.selectedButton:hover {
  background-color: #0056b3;
  color: #fff;
}

@media (max-width: 1465px) {
  .moviesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .moviesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .moviesContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
